.BoxContainer {
   margin: 10px;
   padding: 10px;
   .typoGraphyHeading {
      font-size: 32px;
      font-weight: 700;
      counter-reset: #414141;
      font-style: normal;
      font-family: "Lato";
   }
   .dropDowns {
      border-radius: 8px;
      width: 100%;
      margin-top: 10px;
   }
   .formContainer {
      .cardContainer{
         border-radius: 8px;
         background: #FFF;
         box-shadow: 0px 2px 20px 0px rgba(237, 237, 237, 0.80);
         margin-top: 16px;
         margin-bottom: 24px;
         width: 1078px;
         .formFields{
            padding: 24px;
         }
      }
      .typoGraphy {
         font-size: 24px;
      }
      .textField {
         background-color: #fff9e4 !important;
         border-radius: 8px;
         margin-top: 10px;
      }
   }
}
.notePointCountDivContainer {
   background-color: #f2cc5a;
   padding: 6px;
   font-size: 14px;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}
.paymentImages {
   display: flex;
   gap: 1rem;

   .image {
      width: 30px;
      height: 20px;
      border-radius: 4px;
      padding: 10px 10px 5px 10px;
      background: #fff;
      box-shadow: '0px 0.5px 3px 0px rgba(0, 0, 0, 0.25)';
   }
}
