.BoxContainer {
    // background-color: antiquewhite;
    // width: 100%;
    margin: 10px;
    padding: 10px;

    .typoGraphyHeading {
        font-size: 32px;
        font-weight: 700;
        counter-reset: #414141;
    }

    .formContainer {
        .errorTextFeild {
            border: 1px solid red !important;
            border-radius: 8px;
            width: 100%;
         }
        .dropDowns {
            border-radius: 8px;
            width: 100%;
            margin-top: 10px;
        }

        // .textField {
        //     background-color: #FFF9E4 !important;
        //     border-radius: 8px;
        //     margin-top: 10px;
        // }

        .instagramIcon {
            color: white;
            background: linear-gradient(135deg, #ff69b4, #ff0000, #ffA500) !important;
            background-color: white !important;
            font-size: 50px !important;
            border-radius: 10px;
        }
    }

    .otherContainer {
        .cancelAndSaveButton {
            border: 0px;
            font-weight: 600;
            border-radius: 4px;
            padding: 13px 16px;
            margin: 0px 5px 0px 0px;
        }

        .ckeckboxStyles {
            color: orange;
        }
    }

    .familyDetails {
        margin-top: 20px;
        background-color: #FFF9E4;

        .icons {
            display: flex;

        .editAnddeleteIcon {
            color: #F05802;
            display: flex;
            width: 24px;
            height: 24px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }
    }

        .addfamilyButton {
            color: white;
            background-color: orange;
            border-radius: 4px;
        }
    }
}