.notePointCountDivContainer {
    background-color: #f2cc5a;
    padding: 6px;
    font-size: 14px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .typoGraphy{
        font-size: 20px;
        color:#882E14;
        line-height: 140%;
        font-family: "Lato";
        padding: 2px, 267px, 7px, 1088px;
    }
 }
