.Image {
   border-radius: 8px;
   width: 97px;
   height: 56px;
   padding-left: 16px;
}

.EventsDetails {
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 80px;
   padding: "50px";
   background-color: '#FFF9E4';
   box-shadow: ' none';

   .nameDate {
      display: flex;
      flex-direction: column;
      padding-left: 12px;

   }

   .donateButton {
      font-size: 16px;
      display: inline-flex;
      background-color: #F05802;
      height: 38px;
      margin-right: 16px;
      justify-content: center;
      align-items: center;
      color: #FFFFFF;
      padding: 2px 16px;
      border-width: 0px;
      border-radius: 5px;
      width: 85px;

      &:hover {
         cursor: pointer;
      }
   }

   .calenderIcon {
      padding-right: 6px;
      font-size: 18px;
      color: #22A699;
   }
}